
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/

FoodDeliver_API/FoodDeliver_API/appsettings.json
/FoodDeliver_API/FoodDeliver_API/Migrations
.gradle/
/TimelessCore_Backend/TimelessCore_Backend/appsettings.json
/TimelessCore_Backend/TimelessCore_Backend/appsettings.json
/TimelessCore_Backend/TimelessCore_Backend/appsettings.Development.json

node_modules/

appsettings.json



/EventMate_BE/EventMate_WebAPI/appsettings.json
/EventMate_BE/EventMate_WebAPI/appsettings.Development.json
